* {
    font-family: "Philosopher","Molengo","Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #f7f1c8 !important;
    margin: 0 auto;
}

#name, #name-div{
  width: 100%;
  margin: 0 auto;
}

.text-big {
    font-size: 200%;
}

.color-white{
	color: #F7F1C8 !important
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

#div-height-50 {
    height: 50px;
}

.img-medium {
    display: block !important;
    border-radius: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    box-shadow: 2px 2px 26px black;
    position: relative;
    top: 150px;
}

#btns {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
}

#slide-container {
    display: flex;
}

.slide {
   display: inline;
   box-shadow: 2px 2px 26px black;
}

#info-div {
    
}