* {
    font-family: "Philosopher","Molengo","Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #f7f1c8 !important;
    margin: 0 auto;
}

#name, #name-div{
  width: 100%;
  margin: 0 auto;
}

.text-big {
    font-size: 200%;
}

.color-white{
	color: #F7F1C8 !important
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

#div-height-50 {
    height: 50px;
}

.img-medium {
    display: block !important;
    border-radius: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    box-shadow: 2px 2px 26px black;
    position: relative;
    top: 150px;
}

#btns {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
}

#slide-container {
    display: flex;
    justify-content: center;
}

.slide {
   display: inline;
   box-shadow: 2px 2px 26px black;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100% !important;
      margin: auto;
    
}
  
.glyphicon-chevron-left, .glyphicon-chevron-right  {
    font-size: 10px !important;
}  

.image{
  display: inline-block !important;
  margin: 5px auto !important;
}

.sub-div-1, .sub-div-2, .image-div{
  position: relative;
  display: inline-block !important;
  justify-content: center !important;
}

.glyphicon{
  cursor: pointer;
}

.btn-close, .btn-arrow-right{
  position: absolute;
  right: 10%;
  top: 38%;
  color: #999;
}

