* {
    font-family: "Philosopher","Molengo","Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #f7f1c8 !important;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.img-medium {
    margin-top: 60px !important;
    border-radius: 100%;
    margin: 20px;
}

#btns {
    margin: 0 auto;
    border: 1px solid black;
}