* {
    font-family: "Philosopher","Molengo","Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #f7f1c8 !important;
    margin: 0 auto;
}

.color-white{
	color: #F7F1C8 !important
}

.text-big {
    font-size: 200%;
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

#div-height-60 {
    height: 60px;
}

.img-medium {
    display: block !important;
    border-radius: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    box-shadow: 2px 2px 26px black;	
    position: relative;
    top: 40%;
}

#btns {
    margin-left: auto;
    margin-right: auto;
    /*width: 100%;*/
    /*background-color: #aaaaaa;*/
    /*border-radius: 5px !important;*/
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*#main li{*/
/*    font-size: 1.5em !important;*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*    cursor: pointer;*/
/*    text-align: center;*/
/*}*/

#name, #name-div{
  width: 100%;
  margin: 0 auto;
}

#name-div{
  text-align: center;
}
