* {
    font-family: "Philosopher","Molengo","Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #f7f1c8 !important;
    margin: 0 auto;
}

#name, #name-div{
  width: 100%;
  margin: 0 auto;
}

#name-div{
  text-align: center;
}

.text-big {
    font-size: 200%;
}

.color-white{
	color: #F7F1C8 !important
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

#div-height-60 {
    height: 60px;
}

.img-medium {
    display: block !important;
    border-radius: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    box-shadow: 2px 2px 26px black;	
    position: relative;
    top: 150px;
}

#btns {
    margin-left: auto;
    margin-right: auto;
    /*width: 100%;*/
    /*background-color: #aaaaaa;*/
    /*border-radius: 5px !important;*/
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*#main li{*/
/*    font-size: 1.5em !important;*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*    cursor: pointer;*/
/*    text-align: center;*/
/*}*/

/////////////////////////////////////////////////////

body{
	font-family: Trebuchet MS, Helvetica, sans-serif;
}

section div h1{
	color: rgb(109, 107, 107) !important;
}

.logo{
	margin: 0;
	padding:  10px 30px ;
}

	/*box-sizing: border-box;
	border: 1px solid black;*/
	
.navbar-right li a, .name{
	padding-right: 30px;
	padding-left: 30px;
}

.navbar-right li a{
	font-size: 18px;
}

.navbar-right li a:hover{
	background: rgb(229, 229, 229) !important;
}
	
.div-height-50{
	height: 50px;
}

.thumbnails{
	padding: auto;
	text-align: center;
}

.placeholder{
	display: inline-block;
	text-align: center;
	margin: 10px 10px;
    padding: 10px;	
}

.placeholder img{
	margin: 0 !important;
}

#footer-div-2{
	background-color: #F7F7F9;
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #aaaaaa;
}

#glyphicons{
   display: inline-block; 
   padding: 0;
   margin: 0;   
}

button{
	border: 1px solid #aaaaaa !important;
}

button:hover{
	color: blue !important;
	background-color: #ffffff !important;
}

#glyphicons li{
	list-style: none;
	display: inline;
	padding: 0;
	margin: 0 5px;
}

.info-to-be-added{
    border: 1px dotted #aaaaaa;
    padding: 50px;
    color: #aaaaaa;
    margin: 10px 0; 	
}

