* {
    font-family: "Philosopher","Molengo","Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #f7f1c8 !important;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.img-medium {
    margin-top: 60px !important;
    border-radius: 100%;
    margin: 20px;
}

.buttons {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center; 
}

.btn2 {
    padding: 20px 71px;
    margin: -1px;
    font-size: 1.1em;
    cursor: pointer; 
    color: #000000;
}

.btn1 {
    padding: 15px 56px;
    margin: -1px;
    font-size: 1.1em;
    cursor: pointer; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: #4a4848;
    padding-left: 20px;
    padding-right: 20px;
}