* {
    font-family: "Philosopher","Molengo","Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #f7f1c8 !important;
    margin: 0 auto;
}

#name, #name-div{
  width: 100%;
  margin: 0 auto;
}

.text-big {
    font-size: 200%;
}

.color-white{
	color: #F7F1C8 !important
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

#div-height-50 {
    height: 50px;
}

.img-medium {
    display: block !important;
    border-radius: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    box-shadow: 2px 2px 26px black;
    position: relative;
    top: 150px;
}

#btns {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
}

#slide-container {
    display: flex;
    justify-content: center;
}

.slide {
   display: inline;
   box-shadow: 2px 2px 26px black;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100% !important;
      margin: auto;
    
}
  
.glyphicon {
    font-size: 10px !important;
}  

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none !important;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}