* {
    font-family: "Philosopher","Molengo","Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #f7f1c8 !important;
    margin: 0 auto;
}

.color-white{
	color: #ffffff !important;
}

#div-height-60 {
    height: 60px;
}

.text-big {
    font-size: 300%;
}

.img-medium {
    margin-top: 16% !important;
    border-radius: 100%;
    margin: 20px;
}

#btns {
    margin-left: auto;
    margin-right: auto;
    /*background-color: #aaaaaa;*/
    /*border-radius: 5px !important;*/
    height: 100%;
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    margin-top: 5%;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main li{
    font-size: 1.5em !important;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    text-align: center;
}

