* {
    font-family: "Philosopher","Molengo","Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #f7f1c8 !important;
    margin: 0 auto;
}

.text-big {
    font-size: 300%;
}

.img-medium {
    margin-top: 60px !important;
    border-radius: 100%;
    margin: 20px;
}

#btns {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #ffffff;
}

.pad {
    padding-top: 20px;
    padding-bottom: 20px;
    /*-webkit-box-shadow: inset 0 0 20px #432;*/
    /*-moz-box-shadow: inset 0 0 20px #432;*/
    /*box-shadow: inset 0 0 20px #432;*/
}

ul {
    list-style: none;
    margin-top: 5%;
}

#main li{
    font-size: 1.5em !important;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    text-align: center;
}