* {
    font-family: Verdana;
    font-size: 16px;
}

body {
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.img-medium {
    border-radius: 100%;
    margin: 20px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center; 
}

.btn {
    font-size: 1.1em;
    padding: 20px 70px;
    margin: -1px;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: #4a4848;
    padding-left: 20px;
    padding-right: 20px;
}